<form {{action 'submit' on='submit'}}>

  <div {{bind-attr class=":form-group user.errors.email:has-error"}}>
    <label for="email">Email</label>
    {{input type='text' value=user.email id='email' classNames='form-control' placeholder='Email Address'}}
    {{error-message error=user.errors.email}}
  </div>

  <div {{bind-attr class=":form-group user.errors.firstName:has-error"}}>
    <label for="first_name">First Name</label>
    {{input type='text' value=user.firstName id='first_name' classNames='form-control' placeholder='First Name'}}
    {{error-message error=user.errors.firstName}}
  </div>

  <div {{bind-attr class=":form-group user.errors.lastName:has-error"}}>
    <label for="last_name">Last Name</label>
    {{input type='text' value=user.lastName id='last_name' classNames='form-control' placeholder='Last Name'}}
    {{error-message error=user.errors.lastName}}
  </div>

  <div {{bind-attr class=":form-group user.errors.password:has-error"}}>
    <label for="password">Password</label>
    {{input type='password' value=user.password id='password' classNames='form-control' placeholder='Password'}}
    {{error-message error=user.errors.password}}
  </div>

  <div {{bind-attr class=":form-group user.errors.passwordConfirmation:has-error"}}>
    <label for="password-confirmation">Password Confirmation</label>
    {{input type='password' value=user.passwordConfirmation id='password-confirmation' classNames='form-control' placeholder='Password Confirmation'}}
    {{error-message error=user.errors.passwordConfirmation}}
  </div>

  <div class="form-group">
    <input type="submit" value="Register" class="btn btn-primary"> or <a href="#" id="showLogin" {{action 'showLogin' bubbles=false}}>Login</a>
  </div>

</form>