{{#if session.loggedIn}}

  <div class="page-header">
    <h2>Account</h2>
  </div>

  <p>You are currently logged in as {{session.currentUser.email}} (<a href="#" {{action 'logout'}}>Logout</a>)</p>

  <br>

  {{story-submit-form story=model.story}}

{{else}}

  {{render 'loginAndRegistration'}}

{{/if}}